.navbar-toggler {
  border: none;
  box-shadow: none !important;
  &:not(.collapsed) {
    transform: rotate(90deg);
  }
  transition: transform 0.3s ease-in-out;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.5em;
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 8rem;
}

// remove underline from links
a.no-a {
  color: inherit;
  text-decoration: inherit;
}
.inline {
  display: inline;
}

// .blob1 {
//   // width: 440px;
//   // height: 440px;
//   border-radius: 2500vw;
//   background: radial-gradient(110.88% 79.69% at 47.77% 151.82%, #ffec45 0%, rgba(255, 236, 69, 0.3) 54.92%, rgba(255, 236, 69, 0) 96.11%),
//     radial-gradient(50% 68.23% at 98.21% 96.61%, #41d1b7 0%, rgba(65, 209, 183, 0.35) 49.27%, rgba(65, 209, 183, 0) 100%),
//     radial-gradient(83.71% 75.52% at -10.04% 2.86%, #8263db 0%, rgba(129, 114, 218, 0.26) 56.87%, rgba(129, 114, 218, 0) 100%), linear-gradient(180deg, #58ccdc 0%, rgba(88, 204, 220, 0) 100%),
//     linear-gradient(81.23deg, #ff557e 21.4%, rgba(255, 85, 85, 0) 84.87%, #f2f5fa);

//   background-blend-mode: normal, normal, darken, normal, normal, normal;
//   filter: blur(100px);
// }
